*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar{
    display: flex;
    position: sticky;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li a{
    padding-left: 90px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
}
#contact{
    padding-right: 150px;
}

/* for the mid-part */
.text{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    height: 1000px;
}
.text::before{
    content: "";
    background: url(../images/lion_child.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.inside_text{
    margin-left: 300px;
    margin-right: 300px;
    font-size: 35px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bolder;
    color: white;

}