*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar{
    display: flex;
    position: sticky;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li a{
    padding-left: 90px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
}
#contact{
    padding-right: 150px;
}

/* for the content inside for the login site */
.text{
    font-size: 110px;
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    justify-content: center;
    color: white;
    height: 450px;
}
.text::before{
    content: "";
    background: url(../images/lama-4161199_1920.jpg);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* for the border of email and password */
#home{
    height: 510px;
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    bottom: 252px;
    border-radius: 120px;

}
#home::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .6;
    z-index: -1;
    border-radius: 120px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 25px;
}

/* for the login section */
#email{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    outline: none;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    text-align: center;
    border-radius: 12px;

}

#password{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    border-radius: 12px;
    outline: none;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    text-align: center;
}
#submit{
    border-radius: 8px;
    width: 200px;
    font-family: 'Baloo Bhai 2', cursive;
    margin: auto;
    height: 35px;
    font-size: 25px;
    
}
#submit:hover{
    cursor: pointer;
}

.heading{
    display: flex;
    justify-content: center;
    color: white;
}
.content::placeholder{
    text-align: center;
    color: white;
}
.sign{
    margin: 30px;
    color: white;
    text-decoration: underline;
    font-size: 15px;
}

.sign:hover{
    cursor: pointer;
}